<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Predix Microservice templates</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h2>Greetings from Predix Spring Boot CXF!</h2>
  	<hr></hr>
	<table><tr>
  <td valign="top"><p>Explore your Microservice</p>
	    <p><a th:href="@{${api}}">Api explorer</a></p>
	    <p><a th:href="@{${health}}">Microservice Health</a></p>
	    <p><a th:href="@{${docs}}">Docs</a></p></td>
      <td valign="top"><p style="margin: 15px 20px 0px 100px">We use this microservice template for all our sample back-end microservices</p><br/>
      <img style="margin: 0px 20px 0px 100px" height="400" src="images/microservice-template.png"/></td>
    </tr>
  </table>

  <hr></hr>
  <ul style="list-style: none;">
    <li>
      <h3>What's Next</h3>
    </li>
    <li>
      <p>Visit <a target="_blank" href="https://www.predix.io/resources/tutorials/tutorial-details.html?tutorial_id=1569">Front End Hello World</a>.</p>
      <p>To turn on Login and view a secure page, continue with the <a target="_blank" href="https://www.predix.io/resources/tutorials/journey.html#1605"> Build a Basic App Guide</a>.</p>
    </li>
  </ul>
</body>
</html>
